In [1]:
 import pandas as pd

dict_data = {'c0' : [1, 2, 3],
             'c1' : [4, 5, 6],
             'c2' : [7, 8, 9],
             'c3' : [10, 11, 12],
             'c4' : [13, 14, 15]}

df = pd.DataFrame(dict_data)
df

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [2]:
df = pd.DataFrame([
                   [15, "남", "덕영중"],
                   [17, "여", "수리중"]
                    ],
                  index = ['준서', '예은'],
                  columns = ['나이', '성별', '학교']
)
df

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [7]:
exam_data = {"수학" : [90, 80, 70],
             "영어" : [98, 89, 95],
             "음악" : [85, 95, 100],
             "체육" : [100, 90, 80]
             }
exam_data

{'수학': [90, 80, 70],
 '영어': [98, 89, 95],
 '음악': [85, 95, 100],
 '체육': [100, 90, 80]}

In [8]:
df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])

In [9]:
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   80

In [10]:
df.iloc[0:1]

    수학  영어  음악   체육
서준  90  98  85  100

In [11]:
df.loc['서준']['체육']

100

In [12]:
df.loc['서준', '체육']

100

In [13]:
df.T

     서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   80

In [14]:
student1 = pd.Series({'국어' : 100, '영어' : 80, '수학' : 90})
student1

국어    100
영어     80
수학     90
dtype: int64

In [17]:
percentage = student1 / 100
percentage

국어    1.0
영어    0.8
수학    0.9
dtype: float64

In [18]:
student1 = pd.Series({'국어' : 100, '영어' : 80, '수학' : 90})
student2 = pd.Series({'수학' : 80, '국어' : 90, '영어' : 80})

In [19]:
addition = student1 + student2

In [21]:
subtraction = student1 - student2

In [22]:
multiplication = student1 * student2

In [23]:
division = student1 / student2

In [25]:
result = pd.DataFrame([addition, subtraction, multiplication, division],
                      index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])

In [26]:
result

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0